<footer class="bg-black text-white">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; Mappa Mundi, LLC - Today in Music</p>
        <p>Email: <a href="mailto:contact@today-in-music.com" class="text-red">contact@today-in-music.com</a></p>
      </div>
      <div class="col-md-6">
        <!-- <p>Follow us on social media:</p>
        <a href="#" class="text-red">Instagram</a>
        <a href="#" class="text-red">Facebook</a> -->
      </div>
    </div>
  </div>
</footer>