body {
    background-color: #000000;
    color: #FFFFFF;
}

a.text-red,
a.text-red:hover {
    color: #D30000;
}

.navbar {
    border-bottom: 3px solid #D30000;
}

footer {
    border-top: 3px solid #D30000;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-brand img {
    height: 50px;
}

.navbar-brand p {
    margin-bottom: 0;
}

.thank-you-message {
    font-size: 1.5em;
    /* Large text */
    font-weight: bold;
    /* Bold text */
    color: #4BB543;
    /* A pleasant green indicating success */
    margin-top: 20px;
    /* Adds some space above the message */
    text-align: center;
    /* Centers the message */
}

.error-message {
    font-size: 1.2em;
    /* Slightly smaller than the thank-you message */
    color: #D8000C;
    /* Red color indicating an error */
    margin-top: 20px;
    /* Adds some space above the message */
    text-align: center;
    /* Centers the message */
}